@import "compass/css3";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
}
.hero-image {
  height: auto;
  }
  .hero-img {  
  max-width: 100%
}
.featured-image {
  height: auto;
  width: 100%;
}
.header {
  text-align: center;
  margin-bottom: 25px;
  height: auto;
  width: auto;
}
.featured-title,
.featured-link,
.featured-work {
  text-align: center;
}
.featured-work {
  margin-top: 25px;
}
.featured-project {
  margin: 20px 0;
}
.featured-flex {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (min-width: 1008px) {
  .header-text,
  .logo {
   text-align: right;
   margin-right: 260px;
  }
  .featured-flex{
    max-width: 1008px;
    margin: 0 auto;
  }
  .hero-image {
    max-width: 1008px;
    margin: 0 auto;
  }
}
